include README.md
include BSD-LICENSE.txt
recursive-include src/msg_egauge_service *
recursive-include sql/meco_v3 *
recursive-include sql/msg_egauge_service *
recursive-include sql/utility *
recursive-include sql/test_meco *
recursive-include test-data *
