### Sample MSG Data Processing configuration file.
###
### The default file path for this file is /usr/local/msg-egauge-service/config/msg-egauge-service.config.
###
### Placeholders should be substituted with actual values.
###
### The maximum permissions should be limited to owner readable and writable and group readable (640).
###
### @author Daniel Zhang (張道博)
### @copyright Copyright (c) 2013, University of Hawaii Smart Energy Project
### @license https://raw.github.com/Hawaii-Smart-Energy-Project/Maui-Smart-Grid/master/BSD-LICENSE.txt

msg_dbname = "${DATABASE_NAME}"
data_dir = "${DATA_DOWNLOAD_PATH}"
insert_table = "\"${TABLE_NAME}\""
loaded_data_dir = "${DATA_ALREADY_LOADED_PATH}"
invalid_data_dir = "${DATA_PATH_FOR_INVALID_DATA_STORAGE}"
db_pass = "${DB_PASSWORD}"
db_user = "${DB_USERNAME}"
db_host = "${DB_HOST}"
db_port = "${DB_PORT}"

egauge_user = "${EGAUGE_USERNAME}"
egauge_password = "${EGAUGE_PASSWORD}"

### Egauge entries are processed as a list here and inlude more than three or less than three.
egauge = ${EGAUGE_ID_1}
egauge = ${EGAUGE_ID_2}
egauge = ${EGAUGE_ID_3}
