### Sample MSG Data Science Software site configuration file.
###
### The default file path for this file is ~/.msg-data-operations.cfg.
###
### This configuration file contains the SITE-DEPENDENT settings for
### installation of the MSG Data Science Software.
###
### Not all settings are needed for all operations.
###
### Placeholders should be substituted with actual values.
###
### The maximum permissions should be limited to owner readable and writable (600).
###
### @author Daniel Zhang (張道博)
### @copyright Copyright (c) 2014, University of Hawaii Smart Energy Project
### @license https://raw.github.com/Hawaii-Smart-Energy-Project/Maui-Smart-Grid/master/BSD-LICENSE.txt

[Debugging]
debug=False
limit_commits=False

[Data Paths]
# Plot path is where plots will be saved.
plot_path=${PLOT_PATH}

[MECO Autoload]
# These are paths related to MECO data autoloading.
meco_new_data_path=${AUTOLOAD_DATA_PATH}
Example: /usr/local/smb-share/MECO-DATA-AUTOLOAD

meco_autoload_archive_path=${AUTOLOAD_ARCHIVE_PATH}
## Example: /usr/local/smb-share/.MECO-AUTOLOAD-ARCHIVE

meco_autoload_failures_path=${AUTOLOAD_FAILURE_PATH}
## Example: /usr/local/smb-share/.MECO-AUTOLOAD-FAILURES

data_load_command=${COMMAND_USED_FOR_INSERTING_MECO_DATA}
## Example: python ~/Maui-Smart-Grid-1.0.0/bin/insertMECOEnergyData.py --email > insert.log

[Executable Paths]
bin_path=${MECO_BIN_DIR}
## Example: ~/Maui-Smart-Grid-1.0.0/bin

[Notifications]
email_fromaddr=${EMAIL_ADDRESS}
email_username=${EMAIL_USERNAME}
email_password=${EMAIL_PASSWORD}
email_recipients=${COMMA_SEPARATED_EMAIL_RECIPIENTS}
testing_email_recipients=${COMMA_SEPARATED_EMAIL_RECIPIENTS}
email_smtp_server=${SMTP_SERVER_AND_PORT}

[Weather Data]

## Example URL: http://cdo.ncdc.noaa.gov/qclcd_ascii/
weather_data_url=${WEATHER_DATA_URL}

## Example pattern: <A HREF=".*?">(QCLCD(201208|201209|201210|201211|201212|2013).*?)</A>
weather_data_pattern=${WEATHER_DATA_PATTERN}

weather_data_path=${WEATHER_DATA_PATH}

[Export]
db_export_path=/home/daniel/msg-db-dumps
dbs_to_export=${DATABASE_NAME}
## Example: meco_v3

google_api_client_id=${GOOGLE_CLIENT_ID}
google_api_client_secret=${GOOGLE_CLIENT_SECRET}
google_api_credentials_path=${GOOGLE_CLIENT_CREDENTIALS_PATH}
days_to_keep=${NUMBER_OF_DAYS_OF_EXPORTS_TO_KEEP}
read_permission=${EMAIL_ADDRESSES_COMMA_SEPARATEDb}
max_bytes_before_split=${INTEGER}
num_split_sections=${INTEGER}
export_list_post_url=${REST_ENDPOINT_URL}

[Database]
db_password=${PASSWORD}
db_host=${IP_ADDRESS_OR_HOSTNAME}
db_port=${DB_PORT}
db_username=${DB_USERNAME}

## The name of the database that will be used by automated operations.
db_name=${DB_NAME}

## The name of the databased used for testing operations.
testing_db_name=${TESTING_DB_NAME}

[Hardware]
multiprocessing_limit = ${INTEGER_MULTIPROCESSING_LIMIT}

[Testing]
tester_email=${EMAIL_ADDRESS}
export_test_data_path={$A_DIRECTORY}
test_data_path={$A_DIRECTORY}

[Aggregation]
irradiance_table = IrradianceData
agg_irradiance_table = AverageFifteenMinIrradianceData
weather_table = KiheiSCADATemperatureHumidity
agg_weather_table = AverageFifteenMinKiheiSCADATemperatureHumidity
circuit_table = CircuitData
agg_circuit_table = AverageFifteenMinCircuitData
egauge_table = EgaugeEnergyAutoload
agg_egauge_table = AverageFifteenMinEgaugeEnergyAutoload
